.page {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  position: relative;
  top: 67px;
}

.drawer {
  width: 180px
}

.layout-container {
  display: flex;
}

.active {
  background-color: #f4f4f4 !important;
}

.app-bar-class {
  width: calc(100% - 180px) !important;
}

.app-bar-tool {
  justify-content: space-between;
}